*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}
body{
    width: 100%;
}

/* ==========================Above NavBar Starts =========================================== */
.aboveNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
background-color: #b2bec3;
z-index: 10;
}
.aboveNav .navul li{
    list-style: none;
    padding: 15px;

}
.aboveNav .navul li a{
text-decoration: none;
color: #dfe6e9;
font-size: 13px;
}
.navul {
    display: flex;
    flex-direction: row;
}
.navul span{
    color: red;
    font-size: 15px;
    font-weight: 900;
}
.navul img{
    width: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.nav2ul {
    position: absolute;
    display: none;
    background-color: #c8d6e5;
    z-index: 25;
}
.nav2ul li{
    border-bottom: 2px dotted white;
    border-left: 5px solid #c8d6e5;
    cursor: pointer;
}
.nav2ul li:hover{
    border-bottom: 2px dotted gray;
    border-left: 5px solid gray;
    transition: all .5s ease;
    background-color: rgba(148, 140, 140,0.6);

}
.aboveNav .nav2ul li a{
    color: white;
    font-weight: 500;
}
.navul li:hover .nav2ul {
    display: block;
}
.nav3ul {
    position: absolute;
    left: 110px;
    top: 0px;
    width: 150px;
    display: none;
    background-color: #c8d6e5;
}
.nav2ul li:hover .nav3ul{
    display: block;
}
.rightAbove {

}
.rightAbove ul {
    display: flex;
    flex-direction: row;
}
.rightAbove ul li {
    list-style: none;
    padding: 15px;
    font-size: 15px;
}
.rightAbove ul li a{
    text-decoration: none;
    color: #dfe6e9;
}
.rightAbove i{
    padding-right: 5px;
    color: #222f3e;
}


/* ==========================NavBar Starts =========================================== */
.navBaar{
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 5px 7px rgb(196, 189, 189);
    background-color: white;
    z-index: 10;
}
.navImage{
    width: 80px;

}
.navBaar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navBaar ul li {
    list-style: none;
    padding: 10px;
margin-bottom: 5px;
border-radius: 10px;
cursor: pointer;
}
.navBaar ul li:hover .navBaar ul li a{
font-weight: 600;    
    color: rgb(196, 3, 3);
}
.navBaar ul li a {
    text-decoration: none;
    color: rgba(255, 10, 10,0.9);
    font-weight: 600;
}
.navBaar .badge{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}
.navBarUl i {
    display: none;
}


.navBar1s {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    align-items: flex-start;
    top: 125px;
    width: 100%;
    height: 280px;
    left: 0;
    border-bottom:2px solid  gray;
    background-color: snow;
    box-shadow: 2px 5px 5px 7px gray;
    display: none;
    transition: all 1s ease;
    
}
.navBarUl li:hover .navBar1s{
    display: flex;
}
.navBar2s {
    display: flex!important;
    flex-direction: column!important;
    width: 300px;
    transition: all 0.5s ease;
}
.navBar1s li {
    margin: 0;
    padding: 0;
    
}

.navList1{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 10px;
}






.imageBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    text-align: center;
}
.imageBar1, .imageBar3{
    visibility: hidden;
    margin: 0;
}
.imageBar3 ul{
    display: flex;
    flex-direction: column;
}
.imageBar2{
    text-align: center;
}
.imageBar3 i {
    padding-right: 5px;
    font-size: 15px;
    color: #222f3e;
}

.imageBar1 .flag {
    width: 25px;
    padding-bottom: 15px;
}
.searchBar{
    /* display: none; */
}
.myBag{
    display: none;
}
.searchBar{
    position: absolute;
    background-color: rgb(36, 34, 34);
    padding: 15px 55px;
    border-radius: 5px;
    /* left: 50%; */
    top: 57px;
    right: 15px;
    margin-left: 0;
    opacity: 0.9;

}
.searchBar input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #dff9fb;
}
.myBag{
    width: 30%;
    background-color: whitesmoke;
    height: calc(100vh);
    color: black;
    box-shadow: -3px 8px 7px 6px gray;
    position: absolute;
    top: 0;
    /* right: -100%; */
    display: none;
    transition: all 0.6s ease;
    z-index: 120;
}
.myBagActive{
    display: block;

    right: 0%;
}
.myBag h1, .myBag h2{
    background-color: black;
    display: inline;
    width: 100%;
    color: whitesmoke;
}
#bag{
    background-color: black;
    padding: 14px;
    color: gray;
}
.myBag h1{
    padding: 0 30px;
    font-size: 25px;
    margin-left: 45px;        
}
.myBag h2{
    font-size: 12px;
    cursor: pointer;
    margin-left: 100px;
}
.myBag p {
margin-top: 250px;
margin-left: 15px;}












/* ==================================== FOoter =========================== */
footer {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
bottom: 15px;
}
.footerSign{
    background-color: rgb(41, 40, 40);
    color: wheat;
    width: 90%;
    padding: 45px;
    text-align: center;
    text-align: center;
    /* z-index: -10; */
    margin: auto;
    margin-top: 35px;
}
.footerSign h1{
    font-size: 18px;
    margin-bottom: 10px;
}
.footerSign p {
    text-align: center;
    text-transform: initial;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    line-height: 30px;
}
.footerSign input {
    font-size: 14px;
}
.mail {
    padding: 5px;
    border-radius: 5px;
    width: 220px;
    text-transform: initial;
}
.mailBtn{
    padding: 5px;
    border: 2px solid white;
    background-color: black;
    color: whitesmoke;
    margin-left: 15px;
    margin-top: 10px;
}
.footerList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 55px;
    color: rgb(66, 63, 63);

}
.footerList .fList1 ul li{
    list-style: none;
    margin: 10px;
}
.footerList .fList1 ul li a{
    text-decoration: none;
    color: rgb(66, 63, 63);
}
.footerList .fList1 .fList2{
    font-weight: bold;
    margin-bottom: 15px;
}
.envelope {
    text-transform: lowercase;
 
}
.fListIcon{
    display: flex;
    flex-direction: row;
}
.fList1s i {
    font-size: 25px;
}


/* ================================Slider ================================== */

.slider{
    width: 100%;
    margin: 25px auto;
}
.slider .slide {
    height: 450px;
    width: 99%;
    margin: auto;
}












































/* ================================ Media Query for tab ================================= */
@media only screen and (max-width: 768px){
    .aboveNav{
        display: none;
    }
    .imageBar3{
        visibility: visible;
    }
    .imageBar3 ul{
        display: flex;
        flex-direction: column;
    }
    .navBaar{
        z-index: 50    ;
        /* height: 250vh; */

    }
    .navBar{
        font-size: 12px;
        z-index: 100;
        position: sticky;
        /* height: 150vh; */
        
    }
    .imageBar1{
        visibility: visible;
        z-index: 100;
        }
        .line{
            width: 30px;
            height: 4px;
            border-radius: 5px;
            margin: 4px;
            background-color: #82878a;
            margin-left: 35px;
            z-index: 100;
        }
        .line1{
            margin-top: 25px;
        }
            .navBarUl .badge{
                margin-top: 10px;
                line-height: 25px;
            }
            .imageBar {
            box-shadow: 5px 5px 5px 7px rgb(196, 189, 189);
z-index: 100;        
            }
            .searchBar{
                background-color: rgb(36, 34, 34);
                padding: 15px 55px;
                border-radius: 5px;
                top: 100px;
                right: 10px;
                z-index: 11;
        
        
            }
            .searchBar input{
                font-size: 20px;
                padding: 10px;
                border-radius: 10px;
                background-color: #dff9fb;

            }
        .myBag{
            width: 70%;
            z-index: 80;
        }

.navBarUl{
position: absolute;
top: 0px;
width: 100%;
height: 100vh;
background-color: #b2bec3;
left: -120%;
transition: all 0.8s ease;
z-index: 5;
overflow: scroll;
}
.navBarUlActive{
left: 0;
}
.navBarUl ul {
    flex-direction: column;
    margin-top: 120px;
    width: 100%;
    height: auto;
    overflow: scroll;
    }
.navBarUl ul li {
    width: 100%;
    padding: 25px;
}
.navBarUl .navBar1s {
position: static;
margin-top: 15px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    box-shadow: none;
    z-index: -1;
}
.navBarUl ul li:hover .navBar1s{
    display: block;
    position: static;
    z-index: 1;
}
.navBarUl .navBar1s .navBar2s{
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    margin-top: 0px;
    position: static;
    top: 0px  ;
    align-items: center;
    border-radius: 0;
    height: auto;
    z-index: 1;

}

.navBarUl .navBar1s .navBar2s li{
    margin: 0;
    padding: 10px;
    width: 100%;
}
.navList1 {
    margin-top: 0;
    padding-top: 0;
    height: auto;
}

.navBarUl .navFas{
    display: inline;
    float: right;
    margin-right: 25px;
    clear: both;
}

.slider{
    height: 270px;
    width: 100%;
    margin: 15px auto;
}
.slider .slide{
    width: 100%;
    height: 300px;
    margin: 15px auto;
}






.footerList{
    flex-direction: column;
    text-align: center;
}
.fList1{
    margin-top: 30px;
}
.fListIcon  {
    justify-content: center;
}


/* ================================ Media Query for Cell ================================= */
@media only screen and (max-width:500px)



/* ==================================== Nav Bar for Cell =================================== */